<ion-header id="home-page-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>
        <ion-title>
            <h1 style="text-align: center;">
                <core-site-logo siteNameMode="none" />
            </h1>
        </ion-title>
        <ion-buttons slot="end" style="position: absolute; right: 10px;">
            <core-user-menu-button />
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<core-loading [hideUntil]="loaded">
    @if (tabs.length === 0) {
        <core-empty-box icon="fas-house" [message]="'core.courses.nocourses' | translate" />
    }
</core-loading>
@if (tabs.length > 0) {
    <core-tabs-outlet [hideUntil]="loaded" [tabs]="tabs" (ionChange)="tabSelected()" />
}
